* {
  margin: 0%;
  padding: 0%;
}

.navbar {
  display: flex;
  justify-content: end;
  background-color: #242424;
  color: rgb(255, 255, 255);
  height: 20px;
  padding: 20px 10px;
}

.money_logo {
  position: absolute;
  left: 145px;
  top: 2px;
}

.links {
  display: flex;
  position: absolute;
  right: 240px;
}

li {
  list-style: none;
}

.home {
  list-style: none;
  margin-left: 70px;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.links .active {
  color: orange;
}

.home:hover {
  color: orange;
  transition: 0.1s ease-in-out;
}

.logout-btn {
  padding: 8px 14px;
  position: absolute;
  right: 40px;
  top: 13px;
  border: none;
  border-radius: 10px;
  background-color: orange;
  cursor: pointer;
  font-weight: 600;
}

.logout-btn:hover {
  background-color: rgb(226, 147, 0);
}

.logo {
  position: absolute;
  top: 10px;
  left: 30px;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.avtar_nav {
  position: absolute;
  right: 150px;
  border-radius: 50%;
  font-weight: 600;
  padding: 7px 13px;
  border: solid black 2px;
  font-size: larger;
  margin-top: -10px;
  cursor: pointer;
}

.avtar_nav:hover {
  background-color: lightgray;
}

.mobile_navbar,
.menu_btn {
  display: none;
}

@media screen and (max-width: 900px) {
  .logo {
    font-size: 25px;
    top: 16px;
    left: 20px;
    transition: 0.2s ease-in-out;
  }

  .money_logo {
    left: 115px;
    transition: 0.2s ease-in-out;
  }

  .links {
    display: none;
  }

  .logout-btn {
    display: none;
  }

  .mobile_navbar {
    display: inline;
    position: fixed;
    right: 0px;
    width: 30%;
    height: 100%;
    text-align: center;
    background-color: #e5e5e5;
    transition: 0.1s ease-in;
  }

  .mobile_links li {
    margin: 20px 30px;
    font-size: 10px;
  }

  .menu_btn {
    display: inline;
    border: none;
    font-size: 32px;
    color: white;
    background-color: transparent;
    margin-top: -6px;
  }

  .avtar_nav {
    position: absolute;
    right: 80px;

    margin-top: -10px;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    height: 7px;
    transition: 0.2s ease-in-out;
  }

  .logo {
    font-size: 15px;
    top: 16px;
    left: 10px;
    transition: 0.2s ease-in-out;
  }

  .money_logo {
    left: 70px;
    top: 0px;
    transition: 0.2s ease-in-out;
  }

  .menu_btn {
    font-size: 25px;
    margin-top: -9px;
    color: white;
    transition: 0.2s ease-in-out;
  }

  .avtar_nav {
    right: 50px;
    top: 21px;
    font-size: 12px;
    padding: 5px 8px;
    transition: 0.2s ease-in-out;
  }
}

/* thrive page */

.donut {
  margin-top: 30px;
  height: 400px;
}
