* {
    margin: 0%;
    padding: 0%;}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  height: 50px;
  padding:20px 10px ;

}



ul {
  display: flex;
}
li {
  list-style: none;
  margin-left: 70px;
}
.logout_btn {
  border-radius: 5px;
  /* display: flex; */
}
